.background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #ffffff, #ffffff);
    display: flex;
    flex-grow: 1;
    z-index: -1;
}

.background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
}

.background div:nth-child(1) {
    background: linear-gradient(132deg, #081c14 0%, #008040 100%);
    width: 54%;
    padding-top: 54%;
    left: 20%;
    top: 51%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
    background: linear-gradient(132deg, #081c14 0%, #00ff80 100%);
    width: 38%;
    padding-top: 38%;
    left: 96%;
    top: 93%;
    transform: translateX(-50%) translateY(-50%);
}
